/*Guate.2016ma*/
*{
text-decoration: none !important;
outline: 0 !important;

}
.row {
  margin: 0 !important;
  padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
}
header{
  height: auto !important;
  position: relative;
}
.social a span{
  position: relative;
  top: 1px;
}
.c-button--menu {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 0;
    line-height: 0;
    background: #333;
    float: right;
    padding: 10px;
    border: transparent;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
}
.c-button--menu:before, .c-button--menu:after, .c-button--menu .c-button__icon, .c-button--menu .c-button__icon:before {
  position: absolute;
  width: 25px;
  height: 5px;
  background: #FFFFFF;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.c-button--menu:before, .c-button--menu:after {
    content: "";
    left: 12px;
    right: 0;
}
.c-button--menu:before {
  top: 10px;
}
.c-button--menu:after {
  bottom: 10px;
}
.c-button--menu .c-button__icon {
    top: 50%;
    left: 24%;
    margin-top: -3px;
}
.c-button--menu .c-button__icon:before {
  content: "";
  top: 0;
  left: 0;
}
.c-button--menu.is-active:before {
  left: 100%;
  width: 0;
}
.c-button--menu.is-active:after {
  right: 100%;
  width: 0;
}
.c-button--menu.is-active .c-button__icon {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #FFFFFF;
}
.c-button--menu.is-active .c-button__icon:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #FFFFFF;
}
.is-active {
  border: transparent;
  padding: 10px;
  height: 50px;
  width: 50px;
}
.is-active .c-button__icon {
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -3px;
}
.is-active:hover{
  background: #aaa;
}
nav {
    color: #fff;
    background-color: #000;
}
.cd-cart-items li a {
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-family: 'GOTHIC';
    display: block;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.cd-cart-items li a:hover{
  background: #31afbf;
   transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
#cd-cart .cd-cart-items li {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid rgba(113, 115, 116, 0.14) !important;
}
.logo{
width: 200px;
margin: auto;
position: absolute;
left: 41%;
height: 60px;
top: 7px;
}
.logo img{
  width: 200px;
}
.about {
    padding: 50px 10%;
    text-align: center;
    float: left;
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(232,232,232,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8', GradientType=0 );
}
.box_about{
  border: 15px solid rgba(0, 0, 0, 0.5);
  padding: 40px 17%;
  float: left;
}
.box_about h1{
  font-size: 24px;
  color: #31afbf;
  font-family: 'GOTHIC';
}
.box_about a {
    padding: 10px 45px;
    border: 1px solid #31B0BC;
    color: #31B0BC;
    border-radius: 40px;
    font-size: 15px;
    display: inline-block;
    font-family: 'GOTHIC';
    transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
}
.box_about a:hover{
  background: #31B0BC;
  color: #fff;
  transition: all 0.4s ease;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
}
.box_about p{
  color: #a1a1a1;
  line-height: 28px;
  font-size: 14px;
  font-family: 'GOTHIC';
}
.show_case .slide_generic{
width: 20%;
height: 600px;
float: left;
border-right: 1px solid #333;
}
.show_case .slide_generic:nth-child(5){
  border: none;
}
.show_case .slide_generic .overlay_slide{
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
 -webkit-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 -o-transition: all 0.3s ease;
 -ms-transition: all 0.3s ease;
}
.show_case .slide_generic .overlay_slide:hover{
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
}

footer{
  padding: 40px;
  text-align: center;
  background: #000;
    float: left;
    width: 100%;
}
footer p {
    color: #fff;
    font-family: 'GOTHIC';
    margin-top: 20px;
}
.collapsible {
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    margin: 0;
}
.collapsible-header {
    display: block;
    color: #fff;
    padding: 15px 0;
    background-color: transparent;
    border-bottom: transparent;
    line-height: 26px;
    transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
}
.collapsible-header:hover{
  background: #31afbf;
   transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
.collapsible-body li a{
  background: #333;
}
.collapsible-body li a:hover{
  background: #fff;
  color: #333;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: none;
}
.collapsible-body {
    border-bottom: transparent;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-youtube:before {
    content: "\e902";
}
.icon-vimeo:before {
    content: "\e903";
}
footer a {
    padding: 8px 10px;
    display: inline-block;
    margin: 0 10px;
    background: #fff;
    color: #31afbf;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
}
footer a:hover{
  background:#31afbf;
  color: #fff;
  transition: all 0.4s ease;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
}
.social{
width: auto;
position: absolute;
left: 0;
padding: 0 40px;
}
.social a {
    padding: 8px 10px;
    margin: 0 10px;
    background: #fff;
    color: #31afbf;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.social a:hover{
  background: #31afbf;
  color: #fff;
  transition: all 0.4s ease;
 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
}
.container {
  height: 100%;
  width: 100%;
}
.bl-main {
    position: relative;
    width: 100%;
    height: 700px;
}

.bl-main > section {
  position: absolute;
  width: 20%;
  height: 100%;
}
.bl-main > section:first-child {
    top: 0;
    left: 0;
    background: url(../images/slide1.jpg) 50%;
    background-size: cover;
}

.bl-main > section:nth-child(2) {
  top: 0;
  left: 20%;
  background: url(../images/slide2.jpg) 50%;
  background-size: cover;
}

.bl-main > section:nth-child(3) {
  top: 0;
  left: 40%;
  background: url(../images/slide3.jpg) 50%;
  background-size: cover;
}

.bl-main > section:nth-child(4) {
  top: 0%;
  left: 60%;
  background: url(../images/slide4.jpg) 50%;
  background-size: cover;
}

.bl-main > section:nth-child(5) {
  top: 0%;
  left: 80%;
  background: url(../images/slide5.jpg) 50%;
  background-size: cover;
}

.bl-main > section:nth-child(6) {
  top: 0%;
  left: 100%;
  background: #10A296;
}

.bl-main > section:nth-child(7) {
  top: 0%;
  left: 120%;
  background: #10A296;
}
.bl-box {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    background: rgba(0,0,0,0.6);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
}
.bl-box:hover{
background: rgba(0,0,0,0.4);
transition: all 0.4s ease;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
}
.bl-box h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    color: #31B0BC;
    width: auto;
    border-bottom: 3px solid #ccc;
    line-height: 44px;
    font-family: 'GOTHICB';
}
.bl-box:hover h2{
color: #fff;
}
.bl-icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.bl-icon:before {
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
}

.bl-icon-about:before {
  content: "\e000";
}

.bl-icon-works:before {
  content: "\e001";
}

.bl-icon-blog:before {
  content: "\e002";
}
.bl-icon-contact:before {
  content: "\e003";
}
.bl-main > section .icon-cross {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    font-weight: normal;
}
.bl-content, div.bl-panel-items > div > div {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 90px 17%;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,0.6);
    color: #fff;
}

/* Custom content */

.bl-content p {
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'GOTHIC';
    line-height: 23px;
}
.bl-content h2 {
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 100px 0;
    font-family: 'GOTHICB';
}

.bl-content a {
    padding: 10px 45px;
    border: 1px solid #fff;
    color: #31afbf;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-top: 25px;
    font-family: 'GOTHICB';
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.bl-content a:hover{
  background: transparent;
  color: #fff;
}
.bl-content article {
  padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding-top: 20px;
  font-size: 1.4em;
}

.bl-content article a {
  color: rgba(0, 0, 0, 0.2);
}

.bl-content > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bl-content > ul li {
  display: inline-block;
  width: 20%;
  margin: 1%;
}

.bl-content > ul li a {
  display: block;
  padding: 0;
  border: 8px solid rgba(0, 0, 0, 0.1);
}

.bl-content > ul li a img {
  display: block;
  max-width: 100%;
}


/* Panel Items */

div.bl-panel-items, div.bl-panel-items > div {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
}

div.bl-panel-items > div > div {
  width: 60%;
  margin: 0 auto;
  opacity: 1;
  bottom: 90px;
  top: 90px;
  pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
  font-size: 1.3em;
}

div.bl-panel-items > div > div img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}

div.bl-panel-items {
  top: 100%;
  z-index: 9999;
}

div.bl-panel-items > div {
  background: #3ba5db;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -moz-transform: translateY(0);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -ms-transform: translateY(0);
}

div.bl-panel-items nav {
  position: absolute;
  z-index: 9999;
  width: 216px;
  left: 50%;
  top: 0px;
  margin-left: -108px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
  -moz-transition: opacity 0.2s ease-in-out 0.5s;
  transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
  float: left;
  margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  line-height: 2em;
  cursor: pointer;
  margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
  opacity: 1;
  top: -70px;
}

div.bl-panel-items > div.bl-show-work {
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transform: translateY(-100%);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  -ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transform: translateY(-100%) scale(0.5);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%) scale(0.5);
  -ms-transform: translateY(-100%) scale(0.5);
  z-index: 0;
}


/* Transition classes and properties */


/* Separated for a better overview and control */

.bl-main > section {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bl-main > section.bl-expand-top {
  z-index: 100;
}

/*.bl-main > section:first-child.bl-expand {
  background: #EE4444;
}

.bl-main > section:nth-child(2).bl-expand {
  background: #F98262;
}

.bl-main > section:nth-child(3).bl-expand {
  background: #4BBE8E;
}

.bl-main > section:nth-child(4).bl-expand {
  background: #0D8278;
}*/

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

.bl-box {
  -webkit-transition: opacity 0.2s linear 0.5s;
  -moz-transition: opacity 0.2s linear 0.5s;
  transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.bl-box h2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

.bl-content,
.icon-cross {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .icon-cross{
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0.5s;
  -moz-transition: opacity 0.3s linear 0.5s;
  transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
  .bl-content,
  .bl-box {
    font-size: 75%;
  }
  .bl-expand .bl-box {
    height: 130px;
  }
  .bl-content > ul li {
    width: 40%;
  }
}
button:focus {
    outline: none;
    background-color: #31afbf;
}
.show_case .container {
    max-width: 100%;
}
